

  .search-box {
    display: flex;
    align-items: center;
    transform:  translate(-50%,50%);
    background: #081c2c;
    height: 40px;
    border-radius: 40px;
    padding: 0px;
    overflow: hidden;
    margin-top: -10px;

}

.search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-button {
  background: #252d37;
  color : #2f3640;
}

.search-button {
    background: #081c2c;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-input {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.search-box:hover > .search-input {
    width: 150px;
    padding: 0 6px;
}
}